<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="topTen-css">
        <link crossorigin="anonymous" href="/css/topTen.css" rel="stylesheet">
    </div>
</head>
<body>
<div class="row justify-content-center" id="div-topTen" th:fragment="topTen">
    <div class="col-md-auto top-margin-col-1">
        <ul class="top-margin-col-1" id="col">
            <li id="li-elem-topTen-1">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-1" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-1"></h5>
                                <p id="li-cat-topTen-1"></p>
                                <p id="li-weight-topTen-1"></p>
                                <p id="li-with-price-topTen-1"></p>
                                <p id="li-without-price-topTen-1"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-1"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-2">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-2" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-2"></h5>
                                <p id="li-cat-topTen-2"></p>
                                <p id="li-weight-topTen-2"></p>
                                <p id="li-with-price-topTen-2"></p>
                                <p id="li-without-price-topTen-2"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-2"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-3">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-3" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-3"></h5>
                                <p id="li-cat-topTen-3"></p>
                                <p id="li-weight-topTen-3"></p>
                                <p id="li-with-price-topTen-3"></p>
                                <p id="li-without-price-topTen-3"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-3"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-4" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-4"></h5>
                                <p id="li-cat-topTen-4"></p>
                                <p id="li-weight-topTen-4"></p>
                                <p id="li-with-price-topTen-4"></p>
                                <p id="li-without-price-topTen-4"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-4"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-5">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-5" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-5"></h5>
                                <p id="li-cat-topTen-5"></p>
                                <p id="li-weight-topTen-5"></p>
                                <p id="li-with-price-topTen-5"></p>
                                <p id="li-without-price-topTen-5"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-5"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-6" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-6"></h5>
                                <p id="li-cat-topTen-6"></p>
                                <p id="li-weight-topTen-6"></p>
                                <p id="li-with-price-topTen-6"></p>
                                <p id="li-without-price-topTen-6"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-6"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-7">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-7" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-7"></h5>
                                <p id="li-cat-topTen-7"></p>
                                <p id="li-weight-topTen-7"></p>
                                <p id="li-with-price-topTen-7"></p>
                                <p id="li-without-price-topTen-7"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-7"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-8">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-8" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-8"></h5>
                                <p id="li-cat-topTen-8"></p>
                                <p id="li-weight-topTen-8"></p>
                                <p id="li-with-price-topTen-8"></p>
                                <p id="li-without-price-topTen-8"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-8"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-9">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-9" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-9"></h5>
                                <p id="li-cat-topTen-9"></p>
                                <p id="li-weight-topTen-9"></p>
                                <p id="li-with-price-topTen-9"></p>
                                <p id="li-without-price-topTen-9"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-9"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li id="li-elem-topTen-10">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <div class="card-body pict">
                                <img alt="..." height="200" id="li-pict-topTen-10" src="" width="200">

                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">
                                <h5 class="card-title" id="li-name-topTen-10"></h5>
                                <p id="li-cat-topTen-10"></p>
                                <p id="li-weight-topTen-10"></p>
                                <p id="li-with-price-topTen-10"></p>
                                <p id="li-without-price-topTen-10"></p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card-body">
                                <button class="btn btn-outline-secondary" id="li-sale-topTen-10"
                                        style="border-radius: 50px;"></button>

                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>