<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
    <div th:replace="fragments/cats :: cats-css"/>
    <div th:replace="fragments/topTen :: topTen-css"/>
    <title>Discounts Nearby</title>
    <div th:fragment="supermarketsPage-css">
        <link crossorigin="anonymous" href="/css/supermarket.css" rel="stylesheet">
    </div>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container-fluid" id="supermarket-page-container">
    <div class="row">
        <div class="col-3 align-self-start top-margin-col">
            <button class="btn btn-outline-secondary" id="btn-topTen" type="button">Топ-10</button>
            <button class="btn btn-outline-secondary" id="btn-cats" type="button">Поиск по категориям</button>
        </div>
    </div>

    <div th:replace="fragments/topTen :: topTen"></div>
    <div th:replace="fragments/cats :: cats"></div>


</div>


<script src="/js/supermarketsPage.js" th:inline="javascript"></script>
<script th:inline="javascript">
    let myData = [[${signInData}]];
    console.log(myData)
    initSupermarketsPage(myData);
</script>
</body>
</html>